@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  overflow: auto; /* or remove this line to allow default scrolling behavior */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(255,249,255);
  background: linear-gradient(90deg, rgba(255,246,240,1) 0%, rgba(255,244,236,1) 50%, rgba(255,246,240,1) 100%);
  background-size: 200% 200%; /* Ensures the gradient covers the area during the transition */
  animation: gradientShift 12s ease infinite; /* Animation applied here */
}
@keyframes gradientShift {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


